<<<<<<< HEAD
.form-control:invalid {
    border: 1px solid #CC0000;
    outline-color: #cc00000;
}

.form-control:valid {
    border: 1px solid green;
    outline-color: darkgreen;
}

.navbar {
    margin: 0;
}

.navbar .glyphicon {
    color: lightgreen;
}
=======
.form-control:invalid {
    border: 1px solid #CC0000;
    outline-color: #cc00000;
}

.form-control:valid {
    border: 1px solid green;
    outline-color: darkgreen;
}

.navbar {
    margin: 0;
}

.navbar .glyphicon {
    color: lightgreen;
}
>>>>>>> 518b15a9e0b6d998b00b7aaf00404cfc073405b2
